@font-face {
    font-family: name;
    src: url(../ObelixProB-cyr.ttf);
}

html,body{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    flex-direction: column;
}
.first{
    display: flex;
    margin-bottom: 1px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
audio{
    size: 5px;
}

.pics {
    box-shadow: 20px;
    height: 60px;
    width: 60px;
    border-radius: 100px;
    background-image: url(../copy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    animation: rotateAvatar 10s infinite linear; /* 应用动画 */
}

/* 定义旋转动画 */
@keyframes rotateAvatar {
    0% {
        transform: rotate(0deg); /* 初始状态 */
    }
    100% {
        transform: rotate(360deg); /* 结束时完全旋转一圈 */
    }
}


.name{
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    animation: space 5s linear infinite;
    font-size: 60px;
    font-family: name ;
    font-weight: bolder;
    color: red;
    text-align: center;
}


.bg{
    display: flex;
    margin-top: 30px;    
    width: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* -webkit-animation: slo 2s linear infinite; */
    animation: slo 2s linear infinite;
}

@keyframes slo {
    0%{
        margin-bottom: 0px;
        /* margin-right: 0px; */
    }
    50%{
        margin-bottom: 20px;
        
    }
    100%{
        margin-bottom: 0px;
        /* margin-right: 0px; */
    }
}

@keyframes lights {
    0%{
    
        color: yellow;

    }
    50%{
    
        color: red;

    }
    100%{
    
        color: yellow;
    }
}

@media (max-width:769px){
    .name{
        font-size:15px;
        text-align: center;
    }
}
@media (max-width:469px){
    .name{
        font-size:12px;
        text-align: center;
        animation: space2 5s linear infinite;
    }
}
@media (max-width:320px){
    .name{
        font-size:10px;
        text-align: center;
        animation: space3 5s linear infinite;
    }
}
@media (max-width:280px){
    .name{
        font-size:12px;
        text-align: center;
        animation: space4 5s linear infinite;
    }
}

@media (max-width:400px){
    .name{
        font-size:12px;
        text-align: center;
        animation: space5 5s linear infinite;
    }
}
@media (max-width:258px){
    .name{
        font-size:12px;
        text-align: center;
        animation: space6 5s linear infinite;
    }
}

@media(max-width:274px){
    .bg{
        animation: slo 2s linear infinite;
        background-size: 5px;

    }
}




